/* Styles globaux */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #333;
    line-height: 1.6;
    background-color: #f0f4f8; /* Light background for contrast */
}

header {
    position: relative;
    background-color: #f5f5f5;
}

.container {
    max-width: 1400px; /* Maximum width for the container */
    margin: 0 auto; /* Center the container */
    padding: 20px; /* Internal spacing */
    background-color: #f9f9f9; /* Light background color */
    border-radius: 10px; /* Optional: rounded corners */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Optional: shadow for depth */
}


.navbar {
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
}

.navbar ul {
    display: flex;
    gap: 20px;
}

.navbar li {
    display: inline;
}

.navbar a {
    text-decoration: none;
    color: #0056b3; /* Darker shade of blue */
    font-weight: 500;
    padding: 10px 15px; /* Padding for better touch targets */
    transition: color 0.3s, background-color 0.3s, transform 0.3s;
}

.navbar a:hover,
.navbar .active {
    color: white;
    background-color: #0056b3; /* Change background on hover */
    border-radius: 5px; /* Rounded corners */
    transform: translateY(-2px); /* Slight lift effect */
}

.social-icons {
    display: flex;
    align-items: center;
    gap: 7px; /* Espace entre les icônes */
}

.social-icons a {
    color: #0056b3; /* Couleur par défaut des icônes */
    font-size: 1.5rem; /* Taille des icônes */
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #f04f23; /* Couleur au survol */
}


.cta {
    background-color: #f04f23; /* Red */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cta:hover {
    background-color: #d4411a; /* Darker shade of red */
}

.banner {
    position: relative;
    text-align: center;
    background: url('drapeau.png') no-repeat center center/cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.logo-banner {
    width: 80%; /* Increase the width to 80% of its container */
    height: auto; /* Maintain aspect ratio */
    max-width: 800px; /* Set a maximum width for the logo */
    display: block; /* Center the image */
    margin-bottom: 20px; /* Space below the logo */
}

.slogan {
    font-family: 'Garamond', serif;
    font-size: 2rem;
    font-weight: 700;
    margin-top: 20px;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 10px;
}

/* Styles spécifiques à la section L'association */
.section {
    padding: 60px 20px;
    text-align: left; /* Alignement à gauche pour le texte */
    background-color: #fff; /* White background for sections */
    border-radius: 10px; /* Rounded corners for sections */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Shadow for depth */
    margin-bottom: 40px; /* Space between sections */
}

h2 {
    font-family: 'Garamond', serif;
    font-size: 2.5rem; /* Taille du titre de section */
    margin-bottom: 20px; /* Espacement sous le titre */
    color: #0056b3; /* Blue color for headings */
    text-align: center;
}

h3 {
    text-align: center;
    font-family: 'Garamond', serif;
    font-size: 2rem; /* Taille des sous-titres */
    margin-top: 100px; /* Espacement au-dessus des sous-titres */
    margin-bottom: 10px; /* Espacement sous les sous-titres */
    color: #f04f23; /* Red color for subheadings */
}


h4 {
    font-family: 'Garamond', serif;
    font-size: 1.5rem; /* Taille des sous-sous-titres */
    margin-top: 20px; /* Espacement au-dessus des sous-sous-titres */
    text-align: center;
    color: black
}

#excellence h4 {
    font-family: 'Garamond', serif;
    font-size: 32px; /* Taille des sous-sous-titres */
    margin-top: 20px; /* Espacement au-dessus des sous-titres */
    margin-bottom: 20px; /* Espacement sous les sous-titres */
    margin-left: 20px; /* Espacement à gauche des sous-sous-titres */
    margin-right: 20px; /* Espacement à droite des sous-sous-titres */
    text-align: center;
    color: #ffcc00; /* Yellow color for h4 */
}

#orientation h4 {
    font-family: 'Garamond', serif;
    font-size: 32px; /* Taille des sous-sous-titres */
    margin-top: 20px; /* Espacement au-dessus des sous-titres */
    margin-bottom: 20px; /* Espacement sous les sous-titres */
    margin-left: 20px; /* Espacement à gauche des sous-sous-titres */
    margin-right: 20px; /* Espacement à droite des sous-sous-titres */
    text-align: center; /* Center alignment */
    color: #CF9FFF; /* Custom color */
}


p {
    font-family: 'Helvetica', sans-serif;
    margin-bottom: 20px; /* Espacement entre les paragraphes */
    text-align: justify;
}

#excellence p {
    font-family: 'Helvetica', sans-serif;
    text-align: justify; /* Justify alignment for paragraphs */
}

#orientation p {
    font-family: 'Helvetica', sans-serif;
    text-align: justify; /* Justify alignment for paragraphs */
}

ul {
    list-style-type: disc; /* Style des listes */
    margin-left: 20px; /* Décalage à gauche des listes */
    margin-bottom: 20px; /* Espacement sous les listes */
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

.photo-banner {
    text-align: center; /* Center the text and image */
    margin: 20px 0; /* Add spacing around the banner */
}

.image-container {
    width: 100%; /* Make the image responsive */
    max-width: 1200px; /* Set a maximum width for the image */
    height: auto; /* Maintain aspect ratio */
    margin-top: 10px; /* Space between heading and image */
    display: block; /* Ensure it behaves like a block element */
    margin-left: auto; /* Center the image */
    margin-right: auto; /* Center the image */

}


.content {
    display: flex; /* Use flexbox to arrange items side by side */
    align-items: flex-start; /* Align items to the start vertically */
    margin-bottom: 40px; /* Space between content blocks */
}

.content i {
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 2rem;
    color: #2980b9;
}

.image-left {
    width: 100%; /* Make the image responsive */
    max-width: 200px; /* Set a maximum width for the image */
    height: auto; /* Maintain aspect ratio */
    margin-top: 20px; /* Space between heading and image */
    margin-bottom: 20px;
    display: block; /* Ensure it behaves like a block element */
    margin-left: auto; /* Center the image */
    margin-right: auto; /* Center the image */
}

.text-content {
    max-width: 100%; /* Allow the text content to take up the remaining width */
}

.image-right {
    width: 100%; /* Make the image responsive */
    max-width: 200px; /* Set a maximum width for the image */
    height: auto; /* Maintain aspect ratio */
    margin-top: 20px; /* Space between heading and image */
    margin-bottom: 20px;
    display: block; /* Ensure it behaves like a block element */
    margin-left: auto; /* Center the image */
    margin-right: auto; /* Center the image */
}

/* Responsive Design: Stack text and image on smaller screens */
@media (max-width: 768px) {
    .content {
        flex-direction: column; /* Stack the image and text on top of each other */
        text-align: center;     /* Center align the text */
    }

    img {
        max-width: 100%;        /* Image takes full width in smaller screens */
        margin: 20px 0;         /* Space between stacked text and image */
    }

}

.box {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: 0 auto;
    text-align: center;
    transition: all 0.3s ease;
}

.box.left {
    align-self: flex-start;
    background-color: #ecf0f1;
}

.box.right {
    align-self: flex-end;
    background-color: #fff;
}

.box:nth-child(odd) {
    background-color: #ecf0f1;
}

.box.association {
    border-left: 5px solid #3498db;
}

.box.objectif {
    border-left: 5px solid #e67e22;
}

.box.partenaires {
    border-left: 5px solid #2ecc71;
}

.box.programme {
    border-left: 5px solid #9b59b6;
}

.box.etablissements {
    border-left: 5px solid #f39c12;
}

#association h3 {
    color: #3498db;
    margin-top: 20px;
}

#objectif h3 {
    color: #e67e22;
    margin-top: 20px; /* Espacement au-dessus des sous-titres */
}

#partenaires h3 {
    color: #2ecc71;
    margin-top: 20px;
}

#programme h3 {
    color: #9b59b6;
    margin-top: 20px;
}

#etablissements h3 {
    color: #f39c12;
    margin-top: 20px;
}

